# Devops (RichardAlmanza)
* @RichardAlmanza

# Devs Lead (emzima24)
cypress/support/commands.js @emzima24
cypress/support/pagesObject/*.js @emzima24
cypress/integration/**/*.js @emzima24

# QA Lead (Duquemore)
cypress/fixtures/*.json @Duquemore
cypress/integration/*.feature @Duquemore
cypress/support/locators.js @Duquemore

# Project Manager (Duquemore, SoyEdwinCabrera)
cypress.json @Duquemore @SoyEdwinCabrera
package.json @Duquemore @SoyEdwinCabrera
cypress/support/index.js @Duquemore @SoyEdwinCabrera
cypress/plugins/index.js @Duquemore @SoyEdwinCabrera
