# Devops (RichardAlmanza)
* @RichardAlmanza

# Devs Lead (Frantisekt emzima24)
cypress/support/commands.js @Frantisekt @emzima24
cypress/support/pagesObject/*.js @Frantisekt @emzima24
cypress/integration/**/*.js @Frantisekt @emzima24

# QA Lead (Duquemore)
cypress/fixture/*.json @Duquemore
cypress/integration/*.feature @Duquemore

# Project Manager (Duquemore, SoyEdwinCabrera)
cypress.json @Duquemore @SoyEdwinCabrera
package.json @Duquemore @SoyEdwinCabrera
cypress/support/index.js @Duquemore @SoyEdwinCabrera
cypress/plugins/index.js @Duquemore @SoyEdwinCabrera
